.container {
	display: flex;
}

.outer {
  display: flex;
  flex-flow: column;
}


.square {
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.round {
    position: relative;
    width: 20%;
    padding-bottom : 20%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    height:100%;
  	border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
}

.text-bold
{
	font-weight:bold;
}

.elementPadding
{
  padding-right: 15px;
  padding-left: 15px;
}

.row
{
	margin-right: 0rem;
	margin-left: 0rem;	
}


.remove-margin
{
	margin:0px !important;
}

.remove-padding
{
	padding:0px !important;
}

.image-container
{
	margin:0px !important;
	padding: 0px !important;
}

img.thumbPortrait{
    position: relative;
    width: 50%;
    max-width:400px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}


img.thumbLandScape{
    position: relative;
    height: 50%;
    max-height:400px;
    max-width:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.circular--landscape {
  display: inline-block;
  position: relative;
  height: 50%;
  max-height:200px;
  max-width:100%;
  overflow: hidden;
  border-radius: 50%;
}
.pulseTest {
  animation: pulse 2s 1;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulseT;
}

@-webkit-keyframes pulseT {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulseT {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
